body{
    width: 700px;
    /* display: block; */
    margin: auto;
    text-align: center;

}

table{
    width:500px;
    margin: auto;
    margin-top: 50px;
}
tr{
    margin:10px;
  
}

th{
    border: 2px solid black;
    
}

td{
    border: 2px solid black;
}

button{
    display: block;
    width:100px;
    margin: auto;
    margin-top: 20px;

}

h1{
    margin-top: 40px;
    color:darkorange;
}

h2{
    color: darksalmon;
}